[aqi_monitor]
authUsername = username
authPassword = password

[openweathermap]
api_key = xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
lat = 40.71
lon = -73.99

[postgres]
db_host = postgres
db_database = aqi
db_user = aqi
db_password = aaaaaaaaaaaaaaaaa