@font-face {
    font-family: Rubik-Bold;
    src: url(/font/Rubik-Bold.ttf);
}

@font-face {
    font-family: Rubik-Light;
    src: url(/font/Rubik-Light.ttf);
}

@font-face {
    font-family: Rubik-Regular;
    src: url(/font/Rubik-Regular.ttf);
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Rubik-Bold;
    font-size: 3em;
}

h2 {
    font-family: Rubik-Bold;
}

h3 {
    font-family: Rubik-Light;
    font-size: 1.3em;
}

p {
    font-family: Rubik-Regular;
    font-size: 1.1em;
}

a {
    color: inherit;
    font-family: Rubik-Regular;
}

.content {
    width: 70%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.colorbox {
    height: 40px;
    margin: 0;
    padding: 0;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
}

.top_content {
    display: flex;
    flex-wrap: nowrap;
}

.nav {
    display: flex;
    align-items: center;
    flex: 20%;
}

.nav ul {
    list-style-type:none;
}

.nav li {
    padding: 10px 40px;
    margin: 10px;
    border-style: none none solid none;
    border-width: 2px;
}

.nav a {
    text-decoration: none;
}

.title {
    padding: 30px 0;
    flex: 80%;
}

.cloud {
    position: relative;
    padding-bottom: 30px;
}

.cloud img {
    width: 100%;
}

.aqi_box {
    position: absolute;
    top: 45%;
    left: 55%;
    text-align: right;
    transform: translate(-50%, -50%);
    color: #fff;
}

.aqi_box h1 {
    font-size: 15em;
    margin: 0;
}

.aqi_box h2 {
    font-family: Rubik-Light;
    font-size: 1.8em;
    margin: 0;
}

/* weather styling */
.block_wrap {
    margin-bottom: 40px;
}

.weather_box {
    border: solid 2px;
    border-radius: 20px;
    height: 100px;
    position: relative;
}

.weather_content {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 10px;
}

.weather_icon {
    width: 50px;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.weather_icon img {
    width: 100%;
}

.weather_text {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translateY(-50%);
}

.weather_text h3,
.weather_text p {
    margin: 10px 0;
}

/* descriptions */
.desc_wrap {
    margin: 40px 0;
    padding: 30px 0;
}

.desc_content {
    padding-top: 30px;
    padding-bottom: 30px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-column-gap: 10px;
}

.desc_box {
    margin: auto;
}

.desc_item_wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.desc_item {
    padding: 8px 10px;
    margin: 4px;
    color: #fff;
    text-align: center;
    width: 200px;
    transform: scale(1);
    transition-timing-function: ease;
    -webkit-transition: transform 2s;
    -moz-transition: transform 2s;
    -ms-transition: transform 2s;
    -o-transition: transform 2s;
    transition: transform 2s;
}

.good {
    background-color: #85a762;
}
.moderate {
    background-color: #d4b93c;
}
.ufsg {
    background-color: #e96843;
}
.unhealthy {
    background-color: #d03f3b;
}
.vunhealthy {
    background-color: #be4173;
}
.hazardous {
    background-color: #714261;
}

.category_icon {
    padding: 30px;
}
.category_icon img {
    width: 100%;
}

.tagline_content {
    text-align: center;
}

.desc_item.active {
    transform: scale(1.2);
    font-size: 1.1em;
    margin: 15px;
    box-shadow: darkgray 5px 5px;
    font-weight: bold;   
}

/* about */
.aqirow {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 10px auto;
    padding: 0;
}

.leftcolumn {
    width: 150px;
    margin: 0;
    padding: 10px 15px;
    display: flex;
}

.leftcolumn.category-class {
    font-weight: bold;
    color: #FFFFFF;
}
.rightcolumn {
    width: 100%;
    margin: 0px;
    padding: 10px;
    justify-content: center;
}

.credits {
    padding-top: 30px;
    padding-bottom: 30px;
}

.leftcolumn p,
.rightcolumn p {
    margin: 0;
    padding: 0;
    align-items: center;
    display: flex;
}

/* graphs */
.graph2 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;
}

.graph3 {
    display: flex;
}

.graph_item img {
    width: 100%;
}

/* footer */
.footer_wrap {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}


/* responsiv */
@media screen and (max-width: 1100px) {
    .top_content, 
    .tagline_content,
    .weather_content {
        width: 90%;
    }
    .desc_content {
        grid-template-columns: repeat(2, 1fr);
    }
    .desc_box:nth-child(1) {
        grid-column: span 1;
        grid-row: span 2;
    }
    .desc_box:nth-child(2),
    .desc_box:nth-child(3) {
        grid-column: span 1;
        grid-row: span 1;
    }
}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 2.5em;
    }
    .top_content {
        flex-direction: column-reverse;
    }
    .content {
        width: 95%;
    }
    .nav {
        flex-wrap: nowrap;
    }
    .nav li {
        display: inline-flex;
        padding: 5px 20px;
    }
    .nav ul {
        margin: 10px auto;
        padding: 0;
    }
    .title h1 {
        margin: 0;
    }
    .title {
        padding: 0;
    }
    .aqi_box {
        width: 85%;
        top: 40%;
        text-align: center;
    }
    .aqi_box h1 {
        font-size: 6em;
    }
    .aqi_box h2 {
        font-size: 1.5em;
    }
    .weather_content {
        grid-template-columns: auto auto;
        grid-row-gap: 10px;
    }
    .weather_icon {
        padding: 5px;
    }
    .weather_icon img {
        width: 100%;
    }
    .weather_text {
        left: 35%;
    }
    .weather_text h3 {
        font-size: 1.2;
    }
    .desc_content {
        display: block;
    }
    .desc_item {
        padding: 0 10px;
        width: 50%;
    }
    .category_icon {
        padding: 0 20%;
    }
    .graph2 {
        display: block;
    }
    .graph3 {
        flex-direction: column-reverse;
    }
}