<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>AQI - Under Maintenance</title>
</head>
<body>
    <div class="maintenance-wrap">
        <div>
            <h1>Under Maintenance</h1>
            <p>Air Quality is taking a break and will be back soon.</p>
        </div>
    </div>
</body>
</html>